<!DOCTYPE html>
<html>
	<head>
		<title>Kickstart Career</title>
		<style>
			h1 {
				font-size: 40px;
				font-family: Roboto;
				font-weight: normal;
				text-align: center;
			}
			#banner {
				width: 100%;
				height: 360px;
				object-fit: cover;
			}
			h2 {
				font-size: 40px;
				font-family: Roboto;
				font-weight: normal;
				text-align: center;
			}
			p {
				font-family: Roboto;
				text-align: center;
				font-weight: normal;
			}
			#container {
				max-width: 720px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<h1>Kickstart Career</h1>
			<img id="banner" src="../static/homepage-banner.jpg" alt="Career Growth" height="320">
			<h2>About Kickstart Career</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis tempus sollicitudin. Aliquam nec nunc non ante suscipit eleifend eu id sem. Sed convallis ex vitae turpis pulvinar consectetur sit amet nec arcu. Aliquam rhoncus, nibh nec facilisis tristique, ipsum neque mattis est, vel molestie sem sem a augue. Pellentesque sodales tincidunt porta. Nullam fringilla suscipit odio. Donec ac egestas sapien. Praesent libero lacus, congue ut vulputate feugiat, condimentum sit amet odio. Sed sit amet malesuada justo, nec congue massa. Nam maximus, metus vel fringilla interdum, felis turpis blandit elit, sit amet consectetur ligula purus nec urna. Nunc efficitur, est a suscipit rhoncus, massa dolor ullamcorper leo, vel aliquam massa tortor in elit. Quisque at sem metus.</p>
			<h2>Open Positions</h2>
			<p>TODO - SHOW THE JOBS</p>
			<div style="text-align: center;">
				<button>Contact Us</button>
			</div>
			<p>Copyright: 2024 Kickstart Career</p>
		</div>
	</body>
</html>
